.country-item img {
  max-width: 64px;
}

.country-list img {
  max-width: 64px;
}

.histo {
  padding-top: 50px;
  padding: 10px;
  max-width: 630px;
}

.list-group {
  align: right;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.submitform {
  text-align: left;
  padding: 35px;
}

.submit {
  margin:20px;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 70px;
}

.App-header {
  background-color: #235;
  height: 155px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
